.header {
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #d2d3d3;
  z-index: 2;
}

.header__link-admin {
  background-color: #319ce8;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  box-sizing: border-box;
  width: 230px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.header__link-admin:hover {
  background-color: #5eace4;
}

.header__button-open-menu {
  background: url(../images/arrow-double.png) center center no-repeat;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  margin: 15px 20px 15px 0;
  border: none;
  cursor: pointer;
  background-size: contain;
}

.header__button-open-menu:hover {
  background: url(../images/arrow-double_hover.png) center center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.header__button-open-menu_close-sidebar {
  transform: rotate(180deg);
}
.header__out-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  border-left: 1px solid #d2d3d3;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;
}

.header__out-link:hover .header__out-title {
  color: #2b8ff9;
}

.header__out-title {
  font-size: 14px;
  color: #626262;
  line-height: 16px;
  font-weight: 400;
  margin: 0 10px 0 0;
  transition: all 0.2s ease-in-out;
}
.header__out-link:hover .header__out-title {
  color: #2b8ff9;
}
.header__out-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background: url(../images/out.png) no-repeat center center;
  background-size: contain;
  transition: all 0.2s ease-in-out;
}
.header__out-link:hover .header__out-icon {
  background: url(../images/out-hover.png) no-repeat center center;
  background-size: contain;
}
.css-wsew38 {
  -webkit-justify-content: end !important;
  justify-content: end !important;
  flex-flow: row-reverse !important;
}
